*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}
body{
    width: 1000px;
    margin: auto;
}
.btn {
    display: block;
    color: white;
    background-color: #69070b;
    padding: 7px 15px;
    margin: 40px 0;
    float: left;
    border-radius: 7px;
}
.no-border{
    border: none !important;
}
/*start wrabber*/
.wrabber .l-n{
    width: 870px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
/*start header*/
.wrabber .logo{
    float: left;
    width: 20%;
}
.wrabber nav{
    float: right;
    width: 70%;
}
.wrabber nav ul {
    float: right;
    margin-top: 5px;
}
.wrabber nav ul li {
    float: left;
    margin-right: 10px;
}
.wrabber nav ul li a{
    border-right: 2px solid #bf802e;
    padding-right: 10px;
    color: black;
}
/*end header*/
/*start banner*/
.banner{
    width:901px;
    margin:10px auto;
    background-image: url(../images/banner.png);
    height: 202px;
}
.banner p {
    font-size: 25px;
    color: #000;
    width: 50%;
    float: right;
    margin-top: 80px;
}
.banner p span{
    font-size: 38px;
    color: #004802;
}
/*end banner*/
/*start main*/
main{
    width: 901px;
    margin: auto;
    overflow: hidden;
}
h3{
    font-size: 25px;
    color: #007b3b;
    margin: 5px 0;
}
h4{
    font-size: 12px;
    color: #0a356d;
    margin: 5px 0;
}
p{
    font-size: 11px;
}
main .first{
    width: 55%;
    float: left;
}
main .first h4{
    font-size: 13px;
}
main .first p{
    font-size: 12px;
    color: #9b9875;  
}
.advs{
    width:35%;
    background-color: #f9eddd;
    padding: 10px;
    float:right ;
    border: 5px solid #fcd598;
    height: 250px;
}
.advs p{
    color: #c75300;
    margin: 10px 0 20px;
}
.second{
    width: 55%;
}
.second .A{
    float: left;
    width: 40%;
    border-right: 1px dotted #9b9875 ;
    padding-right: 80px;
}
.second .B{
    float: right;
    width: 35%;
}
.second .B p{
    color: #9b9875;
    padding-top: 20px;
    width: 70%;
}
.third{
    width:35%;
    float:right;
    background-color: #ddd;
    padding: 10px;  
    margin: -120px 0 50px;
}
.third h4{
    text-align: center;
    text-decoration: underline;
    color: #007b3b;
}
/*end main*/
/*start footer*/
footer{
    background-color: #ad4901;
    color: #fedbc2;
    min-height: 80px;
    overflow: hidden;
}
footer ul{
    width: 50%;
    margin:15px 300px;
    padding-left: 10px;
    overflow: hidden;
}
footer ul li{
    float: left;
    padding-right: 10px;
}
footer ul li a{
    font-size: 12px;
    color: white;
    border-right:2px solid white ;
    padding-right: 10px;
}
footer h6{
    margin-left: 320px;
    font-size: 11px;
    color: #fedbc2;
}
/*end footer*/
/*end wrabber*/