.no-border{border: none !important;}
.clear{clear: both;}
.wrabber{
    width:1000px;
    margin: auto;
    font-family: Arial;
}
.wrabber header{
    overflow: hidden;
    width: 950px;
    margin: auto;
}
.wrabber header .logo{
    float: left;
    width: 20%;
    margin-top: 15px;
}
.wrabber header nav{
    float: right;
    width: 70%;
}
.wrabber header nav ul{
    list-style: none;
    margin-left: 110px;
}
.wrabber header nav ul li{
    float: left;
}
.wrabber header nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    border-right: 2px solid #bf802e;
    padding-right: 10px;
}
.wrabber header section{
    width: 901px;
    background-image: url(../images/banner.png);
    height: 202px;
}
.wrabber header p{
    font-size: 25px;
    width: 50%;
    float: right;
    padding-top: 80px;
}
.wrabber header span{
    font-size: 38px;
    color:#004802;
}